@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@800&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: yellow;  
    font-family:'Trispace', sans-serif;
}
body {
    background-color: black;
<<<<<<< HEAD
    background-image: url("assets/bgimages/starry-night-skyv2.jpg");
=======
    background-image:url("../bgimages/starry-night-skyv2.jpg");
>>>>>>> refs/remotes/origin/main
  }
#game-area{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 125px auto;
}

.Btn-style{
    font-size: 30px;
    width: 1000px;
    height: 100px;
    background: black;
    color: yellow;
}

.Btn-style:hover{
    color: white;
}

#header{
    font-size: 75px;
    padding: 50px 0;
}



#srt-game-text{
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}

#launch-Btn{
    font-size: 40px;
    padding: 0 20px;
    margin: 0 20px;
    background: black;
    border: 2px solid yellow;
}

#launch-Btn:hover{
    color: white;
}

#new-header{
    font-size: 50px;
    padding: 50px 50px;
    text-align: center;
}

.game-info{
    font-size: 25px;
    padding: 30px 30px;
    text-align: center;
}

#level-selction{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

#username {
    width: 50%;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    padding:30px;
    list-style-type:none;
}

#score-keeper{
    padding:50px;
}

@media screen and (max-width:1000px) {

#header{
    font-size:50px;
    text-align:center
}
    
}