/* overall styling  */
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@800&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: yellow;  
    font-family:'Trispace', sans-serif;
    
}
/* body styliling */
body {
    background-color: black;
    background-image:url("../bgimages/starry-night-skyv2.jpg");
  }
  /* game area styles */
#game-area{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 125px auto;
    text-align: center;
}
/* button styles  */
button:hover{
    cursor: pointer;
}

.Btn-style{
    font-size: 30px;
    width: 1000px;
    height: 100px;
    background: black;
    color: yellow;
    -webkit-appearance: none;
}

.Btn-style:hover{
    color: white;
}
/* h1, h2 and header styling */
#header{
    font-size: 75px;
    padding: 50px 0;
}

h2{
    text-align: center;
}

/* welcome page text */
#srt-game-text{
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}
/* launch button */
#launch-Btn{
    font-size: 40px;
    padding: 0 20px;
    margin: 0 20px;
    background: black;
    border: 2px solid yellow;
}

#launch-Btn:hover{
    color: white;
}
/* new page header */
#new-header{
    font-size: 50px;
    padding: 50px 50px;
    text-align: center;
}
/* game info paragraphs */
.game-info{
    font-size: 25px;
    padding: 30px 30px;
    text-align: center;
}

#level-selction{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

#username {
    width: 50%;
    text-align: center;
}
/* answers */
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    padding:30px;
    list-style-type:none;
}
/* scores */
#score-keeper{
    padding:50px;
    font-size: 25px;

}

#is-jedi-or-not{
    padding: 25px;
    text-align: center;
}
/* media quryes */
@media screen and (max-width:1000px) {

#header{
    font-size:50px;
    text-align:center
}

.Btn-style{
    font-size: 20px;
    width: 500px;
    height: 100px;
    background: black;
    color: yellow;
}
    
}

@media screen and (max-width:500px){
    .Btn-style{
        font-size: 20px;
        width: 250px;
        height: 50px;
        background: black;
        color: yellow;
    } 
}